[submodule "sortable"]
	path = sortable
	url = https://github.com/RubaXa/Sortable
[submodule "scripts/color-js"]
	path = scripts/color-js
	url = https://github.com/brehaut/color-js
[submodule "scripts/color"]
	path = scripts/color
	url = https://github.com/iFreilicht/Color
