h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 800px;
  height: 200px;
  margin: 0 auto;
}

#ring_display {
	width: 55%;
	margin-right: 2%;
	float: left;
}

#cue_editor {
	width: 30%;
	float: left;
}

#transitionPicker {
	cursor: crosshair;
	position: relative;
	height: 100;
	width: 300;
}

#transitionPickerHLGradient {
	position: static;
	left: 0;
	top: 0;
	z-index: 0;
}

#transitionPickerHLLine {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#transitionPickerHLDot {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}