h1 {
  font-family: helvetica;
  text-align: center;
}

body {
	font-family: helvetica;
	font-size: 10pt;
}

body {
  padding: 10px;
  margin: 0 auto;
}

#ringDisplay {
	margin-right: 0;
	float: left;
}

#cueBrowser {
	float: left;
}

.cueItem {
	overflow: auto;
	padding: 2px 0px;
	background-color: white;
}

.cueItem[active] {
	overflow: auto;	
	background-color: darkgrey;
}

input[type="button"] {
	border: 1px solid #ccc;
	padding: 2px 5px;
	margin: 4px 8px;
	cursor: pointer;
}

.deleteCue {
	float: right;
}

#downloadAnchor {
	display: none;
}
#uploadAnchor {
	display: none;
}
#uploadButton {
	border: 1px solid #ccc;
	background-color: #ddd;
	padding: 2px 5px;
	font-size: 10pt;
	cursor: pointer;
}

#cueBrowser Button {
	margin: 5px;
	float: bottom;
}

#cueBrowserControls {
	padding: 3px;
	margin: 0px 0px 3px 3px;
	border: 2px solid darkgrey;
	background-color: #eee
}

#cueEditor {
	padding: 10px;
	background-color: darkgrey;
	float: left;
}

#transitionPicker {
	cursor: crosshair;
	position: relative;
	padding: 0px;
}

#transitionPickerHLGradient {
	position: static;
	left: 0;
	top: 0;
	z-index: 0;
}

#transitionPickerHLLine {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#transitionPickerHLDot {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}