h1 {
  font-family: helvetica;
  text-align: center;
}

body {
	font-family: helvetica;
	font-size: 10pt;
	padding: 10px;
	margin: 0 auto;
}

[hidden] {
	display: none;
} 

div {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}

#ringDisplay {
	margin-right: 0;
	float: left;
}

#cueBrowserDiv {
	float: left;
}

#cueBrowser {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.listItem {
	overflow: visible;
	position: relative;
	list-style: none;
	height: 30px;
	margin: 0px;
}

.listItem input[type="button"]{
	margin: 0px;
	border: none;
	padding: 0px;
	height: 100%;
	text-align: center;
	width: 20%;
	padding: 5px 7px;
	float: right;
}

[type="button"]:hover{
	background-color: #555!important;
}

.listItem input[class="openCue"]{
	text-align: left;
	width: 60%;
	float: left;
}

.listItem[active] [type="button"]{	
	background-color: #aaa;
}

#cueListBrowserDiv {
	background-color: #aaa;
	overflow: hidden;
	padding-bottom: 10px;
}

.cueList {
	width: 15%;
	float: left;
}

.cueList [type="button"]{
	float: left;
	width: 20%;
}

.cueList input[class="openCueList"]{
	float: left;
	width: 80%;
}

.cueList input[class="closeCueLists"]{
	width: 100%;
}

[type="button"] {
	border: none;
	padding: 2px 5px;
	margin: 4px 8px;
	cursor: pointer;
	background-color: #ddd;
}

.deleteCue {
	float: right;
}

.cueListItem input[type="number"]{
	margin: 0px;
	border: none;
	padding: 0px;
	height: 69%;
	width: 20%;
	padding: 5px 7px;
	float: left;
	background-color: #ccc;
}

.cueListItem .linkButtonDiv{
	overflow: visible;
	position: relative;
	height: 100%!important;
	width: 20%;
	float: right;
}

.cueListItem .linkButton{
	position: absolute;
	top: 15px;
	width: 100%!important;
}

#cueListEditor {
	min-height: 30px;
	padding-bottom: 15px;
}

#additionalOptionsButton{
	background-color: #888;
	margin: 0px;
	text-align: center;
	cursor: pointer;
}

#additionalOptions{
	background-color: #888;
	padding: 10px;
}

#rampTypeSpecificOptions{
	background-color: #888;
	padding: 10px;
}

#downloadAnchor {
	display: none;
}
#uploadAnchor {
	display: none;
}

#cueBrowserControls {
	padding: 3px;
	margin: 0px 0px 3px 3px;
	border: 2px solid #aaa;
	background-color: #eee
}

#editor {
	padding: 10px;
	background-color: #aaa;
	float: left;
}

#transitionPicker {
	cursor: crosshair;
	position: relative;
	padding: 0px;
}

#transitionPickerHLGradient {
	position: static;
	left: 0;
	top: 0;
	z-index: 0;
}

#transitionPickerHLLine {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

#transitionPickerHLDot {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}